<div class="px-4 py-5 my-5 text-center">

  <h1>New cursed emoji</h1>

  <%= render "form", idea: @idea %>

  <br>

  <div>
    <%= link_to "Back to ideas", ideas_path, { class: "btn btn-dark"} %>
  </div>
</div>
